.car{
	-webkit-border-radius: 0px;
-webkit-border-top-left-radius: 12px;
-moz-border-radius: 0px;
-moz-border-radius-topleft: 12px;
/*border-radius: 5px;*/
border-top-left-radius: 12px;
border-bottom-left-radius: 12px;	

	
	}
	.car1{
		border-color:#999;
	-webkit-border-radius: 0px;
-webkit-border-top-right-radius: 12px;
-moz-border-radius: 0px;
-moz-border-radius-topleft: 12px;
/*border-radius: 5px;*/
border-top-right-radius: 12px;
border-bottom-right-radius: 12px;	

	
	}
	
	.car2{
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
color:#FFFFFF;
 font-weight: bold;
font-size:8px;
	}

a.tooltip span {
display:none; 
margin:0 0 0 10px; 
padding:5px 5px; 
 z-index:999;
 position:absolute;
} 

a.tooltip:hover span {
display:inline; 
  position:absolute;
border:1px solid #79b7e7; 
background:#d0e5f5; 
	width:450px;
    height:120px;
   
    font-weight:bold;
    margin:-50px 190px 300px -250px;
color:#1d5987; 
    z-index:999;
	
}


